<div class="jumbotron col-md-6 col-md-offset-3 dash-head">
  <div>
    <h1>Administrator Login</h1>
    <p>This page is for the Utah Renaissance Faire staff and it allows us to make basic changes to the website.</p>
    <form ng-submit="login()">
      <p ng-show="error" class="text-danger">{{ error }}</p>
      <input type="email" placeholder="Email" class="form-control" ng-model="details.email" required><br>
      <input type="password" placeholder="Password" class="form-control" ng-model="details.password" required><br>
      <input type="submit" class="btn btn-info" value="Sign In">
    </form>
  </div>
</div>