@font-face {
  font-family: 'OldeEnglishRegular';
  src: url('../css/Fonts/oldeenglish-webfont.eot');
  src: url('../css/Fonts/oldeenglish-webfont.eot?#iefix') format('embedded-opentype'), url('../css/Fonts/oldeenglish-webfont.woff') format('woff'), url('../css/Fonts/oldeenglish-webfont.ttf') format('truetype'), url('../css/Fonts/oldeenglish-webfont.svg#OldeEnglishRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KingThings';
  src: url('../css/Fonts/kingthings_italique-webfont.eot');
  src: url('../css/Fonts/kingthings_italique-webfont.eot?#iefix') format('embedded-opentype'), url('../css/Fonts/kingthings_italique-webfont.woff') format('woff'), url('../css/Fonts/kingthings_italique-webfont.ttf') format('truetype'), url('../css/Fonts/kingthings_italique-webfont.svg#kingthings_italiqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 * Override for Twitter Bootstrap
 */
body {
  background: #000000 !important;
  background-image: url(../img/background.jpg) !important;
  background-position: center !important;
  background-position-y: -160px !important;
  background-repeat: no-repeat !important;
  padding-top: 68px;
  padding-bottom: 40px;
  color: #000000;
}
body .well {
  color: #000000;
  min-height: 600px !important;
  -webkit-box-shadow: 10px 10px 30px 0px #000000;
  -moz-box-shadow: 10px 10px 30px 0px #000000;
  box-shadow: 10px 10px 30px 0px #000000;
}
.logo {
  display: block;
  z-index: 10000000000;
  position: absolute;
  margin-top: -65px;
  margin-left: 15px;
}
.main .span12 {
  width: 920px;
}
.menubar {
  display: block;
  position: relative;
  z-index: 1000;
  height: 60px;
  width: 950px;
  margin: 0 5px 0 5px;
  background-image: url(../img/menubar.png);
  background-repeat: no-repeat;
}
.menubar ul {
  list-style: none;
  margin-right: 10px;
}
.menubar ul li {
  float: left;
  padding: 15px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
  text-shadow: 0px 0px 5px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.menubar ul li a {
  color: white;
}
.menubar ul li a:hover {
  text-decoration: none;
  color: #d6c4a1;
}
.image-wrapper {
  position: relative;
  padding: 0 40px;
  margin-top: -30px;
}
.image-shadow {
  display: block;
  z-index: 30;
  position: absolute;
  margin: 17px 0px 0px 20px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  width: 860px;
  height: 410px;
}
.announcement {
  display: block;
  z-index: 10000000;
  position: absolute;
  margin: 17px 0px 0px 20px;
  padding-top: 130px;
  margin-left: 20px;
  width: 320px;
  font-family: Arial;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.announcement h2 {
  text-align: center;
  color: #FFF;
  font-family: "KingThings";
  font-size: 56px;
  font-weight: normal;
  padding-bottom: 20px;
}
.announcement .buy-button-wrapper a {
  position: relative;
  display: block;
  z-index: 100000000000;
}
.announcement .event-place {
  font-weight: bold;
  font-size: 24px;
}
.announcement .ticket-date {
  font-weight: bold;
  font-size: 24px;
}
.announcement .buy-button-wrapper a {
  margin: 0 auto;
}
.announcement .buy-button-wrapper a:hover > img {
  display: none;
}
.image-wrapper img {
  display: block;
  z-index: 10;
  margin: 17px 0px 0px 20px;
  max-width: 820px;
}
.image-container {
  display: block;
  position: relative;
  z-index: 100;
  width: 860px;
  height: 471px;
  background-image: url(../img/image-container.png);
  background-repeat: no-repeat;
}
.wood-wrapper {
  width: 960px;
  height: 128px;
  background-image: url(../img/wood.png);
  background-repeat: no-repeat;
  margin: -24px 0 30px -6px;
  display: block;
  position: relative;
  z-index: 10000;
}
.wood-wrapper .wood {
  padding-top: 70px;
  padding-left: 83px;
  color: #FFF;
  font-size: 24px;
  font-family: Arial;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  font-weight: bold;
}
.wood-wrapper .wood a {
  color: #31B34B;
}
.wood-wrapper .wood a:hover {
  color: #43ee61;
  text-decoration: none;
}
.main .well {
  margin-top: 20px;
}
.banner-wrapper {
  width: 964px;
  height: 277px;
  background-image: url(../img/banners.png);
  background-repeat: no-repeat;
  margin-left: -15px;
  display: block;
  position: relative;
  z-index: 10000;
}
.banner-wrapper .food {
  padding-left: 32px;
}
.banner-wrapper .entertainment {
  padding-left: 20px;
}
.banner-wrapper .vendors {
  padding-left: 8px;
}
.sidebar-nav {
  padding: 9px 0;
}
.banner-wrapper .banner {
  width: 245px;
}
.banner-wrapper .banner h2 {
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: "KingThings";
  font-size: 50px;
  font-weight: normal;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.banner-wrapper .banner p {
  padding: 21px;
  text-align: justify;
  margin-left: 5px;
  color: #FFF;
  font-size: 14px;
}
.content-wrapper {
  position: relative;
  display: block;
  z-index: 1000000000;
}
.content-wrapper .span6 {
  width: 420px !important;
}
.content-wrapper .span3 {
  width: 190px !important;
}
.content-wrapper .span9 {
  width: 640px !important;
}
.content-wrapper .row {
  margin-left: 0px;
}
#brand-wrapper {
  width: 205px;
  height: 137px;
  position: fixed;
  top: 0;
  padding: 0 0 0 50px;
  margin-left: -40px;
}
#page-title {
  margin-bottom: 15px;
  color: #ffffff;
  padding-left: 20px;
}
#page-title h1 {
  text-shadow: 3px 3px 7px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  font-size: 50px !important;
  font-weight: normal;
}
#page-title-link {
  color: #ffffff;
  line-height: 38px;
}
#page-title-link a {
  color: #ffffff;
}
#footer {
  border-top: 1px #000000 solid;
  margin-top: 10px;
  padding-top: 5px;
}
#footer footer {
  padding-top: 50px;
  color: #ffffff;
}
#footer footer ul {
  text-align: center;
}
#footer footer ul li {
  display: inline;
  padding: 0 10px;
  border-left: 1px #ffffff solid;
}
#footer footer ul li a {
  color: #ffffff;
}
#footer footer ul li:first-child {
  border-left: none;
}
.vendor-form textarea {
  width: 890px;
  height: 200px;
}
.vendor-area-map img {
  padding-top: 10px;
  width: 880px;
}
.about-us {
  font-size: 14px !important;
}
.about-us h1,
.about-us h3 {
  color: #363636;
  text-align: center;
  font-weight: normal;
  margin-top: 80px;
  font-size: 45px;
  font-family: 'OldeEnglishRegular';
  margin-bottom: 25px;
}
.about-us p {
  padding-right: 20px;
  font-size: 14px !important;
}
.contact-us h1 {
  color: #363636;
  text-align: center;
  font-weight: normal;
  margin-top: 80px;
  font-size: 45px;
  font-family: 'OldeEnglishRegular';
  margin-bottom: 25px;
}
.contact-us .message-box {
  padding-right: 50px;
}
.contact-us .message-box input {
  width: 370px;
}
.contact-us .message-box textarea {
  width: 370px;
  height: 150px;
}
.contact-us .message-box .submit {
  margin-top: 30px;
  width: 100px;
}
.vendors-list h1 {
  color: #363636;
  text-align: center;
  font-weight: normal;
  margin-top: 80px;
  font-size: 45px;
  font-family: 'OldeEnglishRegular';
  margin-bottom: 25px;
}
.vendors-list .vendor-listing {
  position: relative;
  height: 150px;
}
.vendors-list .vendor-listing .btn-primary {
  position: absolute;
  bottom: 5px;
  width: 150px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #002903;
  text-shadow: 1px 1px 1px #56B35D;
  border-radius: 8px;
  border-width: 0px;
  background: #52b152;
  background: -moz-linear-gradient(top, #52b152 0%, #008a00 38%, #005700 71%, #023300 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52b152), color-stop(38%, #008a00), color-stop(71%, #005700), color-stop(100%, #023300));
  background: -webkit-linear-gradient(top, #52b152 0%, #008a00 38%, #005700 71%, #023300 100%);
  background: -o-linear-gradient(top, #52b152 0%, #008a00 38%, #005700 71%, #023300 100%);
  background: -ms-linear-gradient(top, #52b152 0%, #008a00 38%, #005700 71%, #023300 100%);
  background: linear-gradient(top, #52b152 0%, #008a00 38%, #005700 71%, #023300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b152', endColorstr='#023300', GradientType=0);
}
.vendors-list .vendor-listing .btn-primary:hover {
  background: #008a00;
  background: -moz-linear-gradient(top, #008a00 1%, #005700 53%, #023300 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #008a00), color-stop(53%, #005700), color-stop(100%, #023300));
  background: -webkit-linear-gradient(top, #008a00 1%, #005700 53%, #023300 100%);
  background: -o-linear-gradient(top, #008a00 1%, #005700 53%, #023300 100%);
  background: -ms-linear-gradient(top, #008a00 1%, #005700 53%, #023300 100%);
  background: linear-gradient(top, #008a00 1%, #005700 53%, #023300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008a00', endColorstr='#023300', GradientType=0);
}
.vendors-list .vendor-list-image {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.vendors-list .vendor-list-image img {
  width: 300px;
}
.vendor-show {
  font-size: 14px;
}
.vendor-show h1 {
  color: #363636;
  text-align: center;
  font-weight: normal;
  margin-top: 80px;
  font-size: 45px;
  font-family: 'OldeEnglishRegular';
  margin-bottom: 25px;
}
.vendor-show .vendor-image-wrapper {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.vendor-show .vendor-image-wrapper img {
  width: 900px;
}
.vendor-show .vendor-image-wrapper .image-overlay {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.vendor-show .edit-vendor {
  padding-top: 10px;
}
.login-page input {
  width: 450px;
}
.login-page .checkbox-remember input {
  width: 15px;
}
.login-page .submit {
  width: 150px;
}
.carousel {
  position: absolute;
}
/*.carousel .item {
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel .next {
  left: 0;
  opacity: 1;
  z-index: 1;
}*/
.carousel-inner {
  height: 425px;
}
