<div class="navbar-fixed">
	<nav class="black lighten-5">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo left"><img src="img/urf-logo.png"></a>
			<!-- Desktop Nav -->
			<ul class="right hide-on-med-and-down goudyl">
				<li><a href="/" class="amber-text text-accent-2">Home</a></li>
				<li><a href="#" class="amber-text text-accent-2">Directions</a></li>
				<li><a href="#" class="amber-text text-accent-2">Schedule</a></li>
				<li><a href="#" class="dropdown amber-text text-accent-2" data-activates='dropdown1'>Information</a></li>
				<ul id='dropdown1' class='dropdown-content black lighten-5'>
					<li><a class="waves-effect" href="#">Map / Directions</a></li>
					<li><a class="waves-effect" href="#">Featured Guests</a></li>
					<li><a class="waves-effect" href="#">Entertainers</a></li>
					<li><a class="waves-effect" href="#">Vendors</a></li>
					<li><a class="waves-effect" href="#">Etertainment Schedule</a></li>
					<li><a class="waves-effect" href="#">About Us</a></li>
					<li><a class="waves-effect" href="#">Contact Us</a></li>
				</ul>
				<li><a class="dropdown amber-text text-accent-2" data-activates='dropdown2'>Tickets</a></li>
				<ul id='dropdown2' class='dropdown-content black lighten-5'>
					<li><a class="waves-effect" href="ticket-info">Ticket Info</a></li>
					<li><a class="waves-effect" href="#">Discounts</a></li>
					<li><a class="waves-effect" href="#">General Admission</a></li>
					<li><a class="waves-effect" href="#">Queen's Joust & Feast</a></li>
					<li><a class="waves-effect" href="#">Family Pass</a></li>
					<li><a class="waves-effect" href="#">Education Excursions</a></li>
				</ul>
				<li><a class="dropdown amber-text text-accent-2" data-activates='dropdown3'>Forms</a></li>
				<ul id='dropdown3' class='dropdown-content black lighten-5'>
					<li><a class="waves-effect" href="#">Vendors</a></li>
					<li><a class="waves-effect" href="#">Guilds</a></li>
					<li><a class="waves-effect" href="#">Entertainers</a></li>
					<li><a class="waves-effect" href="#">Artisans</a></li>
					<li><a class="waves-effect" href="#">Volunteers</a></li>
				</ul>
				<li><a class="dropdown amber-text text-accent-2" data-activates='dropdown4'>FAQ</a></li>
				<ul id='dropdown4' class='dropdown-content black lighten-5'>
					<li><a class="waves-effect" href="#">General FAQ</a></li>
					<li><a class="waves-effect" href="#">Map / Directions</a></li>
					<li><a class="waves-effect" href="#">Contact Us</a></li>
				</ul>
			</ul>
			<a data-activates="slide-out" class="right button-collapse"><i class="material-icons amber-text text-accent-2">menu</i></a>
		</div>	
	</nav>
</div>
<!-- Mobile Nav -->
<ul id="slide-out" class="side-nav black goudyl amber-text text-accent-2">
	<li><a href="/" class="goudym amber-text text-accent-2">#UtahRenFaire</a></li>
	<li><a href="/" class="amber-text text-accent-2">Home</a></li>
	<li><a href="#" class="amber-text text-accent-2">Directions</a></li>
	<li><a href="#" class="amber-text text-accent-2">Schedule</a></li>
	<li>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<a class="collapsible-header amber-text text-accent-2">
					<i class="material-icons amber-text text-accent-2">arrow_drop_down</i>Information
				</a>
				<div class="collapsible-body black">
					<ul>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Map</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Featured Guests</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Entertainers</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Vendors</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Etertainment Schedule</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">About Us</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Contact Us</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<a class="collapsible-header amber-text text-accent-2">
					<i class="material-icons amber-text text-accent-2">arrow_drop_down</i>Tickets
				</a>
				<div class="collapsible-body black">
					<ul>
						<li><a href="ticket-info" class="amber-text text-accent-2 waves-effect">Ticket Info</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Discounts</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">General Admission</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Queen's Joust & Feast</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Family Pass</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Education Excursions</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<a class="collapsible-header amber-text text-accent-2">
					<i class="material-icons amber-text text-accent-2">arrow_drop_down</i>Forms
				</a>
				<div class="collapsible-body black">
					<ul>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Vendors</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Guilds</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Entertainers</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Artisans</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Volunteers</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<a class="collapsible-header amber-text text-accent-2">
					<i class="material-icons amber-text text-accent-2">arrow_drop_down</i>FAQ
				</a>
				<div class="collapsible-body black">
					<ul>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">General FAQ</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Map / Directions</a></li>
						<li><a href="#" class="amber-text text-accent-2 waves-effect">Contact Us</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>

<div id="contact-bar" class="center-align goudyl black">
	<div id="top-text" class="container">
		<div class="row">
			<span id="top-url" class="col s12 m4">
				<a href="mailto:info@utahrenaissancefaire.com">info@utahrenaissancefaire.com</a>
			</span>
			<span class="col s12 m4">
				<a class="social-link" href="https://www.facebook.com/UtahRenaissanceFaire"><i class="fa fa-facebook-square"></i></a>
				<a class="social-link" href="https://www.instagram.com/utahrenfaire/"><i class="fa fa-instagram"></i></a>
				<a class="social-link" href="https://github.com/shadtek/utahrenfaire"><i class="fa fa-git-square"></i></a>
				<a class="social-link" href="https://www.linkedin.com/in/shadtek"><i class="fa fa-linkedin-square"></i></a>
			</span>
			<span class="phone" class="col s12 m4">
				<a href="tel:8019998007" class="phone-button">801-999-8007</a>
			</span>
		</div>
		<div class="row">
			<span class="col s12 amber-text text-accent-2">Friday and Saturday, rain or shine, August 25th and 26th 10:00 am - 9:00 pm</span>
		</div>
	</div>
</div>

<ui-view></ui-view>




<!-- Frontend Scripts -->
<script>
	$(document).ready(function(){

		$('.slider').slider({
			interval: 3000,
			transition: 700,
			height: 500
		});

		// works on load
		if ($(window).width() > 1440) {
			$('.slider').addClass('container');
		} else {
			$('.slider').removeClass('container');
		}

		// works after load
		$(window).resize(function() {
			if ($(window).width() > 1440) {
				$('.slider').addClass('container');
			} else {
				$('.slider').removeClass('container');
			}
		});

		$(".button-collapse").sideNav({
			menuWidth: 200, // Default is 240
			edge: 'left', // Choose the horizontal origin
			closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
			draggable: true // Choose whether you can drag to open on touch screens
		});

		$('.dropdown').dropdown({
			inDuration: 300,
			outDuration: 225,
			constrain_width: false, // Does not change width of dropdown to that of the activator
			hover: true, // Activate on hover
			gutter: 0, // Spacing from edge
			belowOrigin: true, // Displays dropdown below the button
			alignment: 'left' // Displays dropdown with edge aligned to the left of button
		});

	});
</script>