<h2>Home Edits</h2>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventPlace" />
  <button class="btn-mini">Update</button>
  <span>Event Place</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventDays" />
  <button class="btn-mini">Update</button>
  <span>Event Days</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventDate" />
  <button class="btn-mini">Update</button>
  <span>Event Days</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.guildBanner"></textarea>
  <button class="btn-mini">Update</button>
  <span>Guild Banner</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.entertainmentBanner"></textarea>
  <button class="btn-mini">Update</button>
  <span>Entertainment Banner</span>
</form>
<form ng-submit="updateMainInfo()">
  <textarea rows="6" ng-model="mainInfo.vendorsBanner"></textarea>
  <button class="btn-mini">Update</button>
  <span>Vendors Banner</span>
</form>