.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
  border-top: 1px solid #b7b4b2;
  padding: 3px;
}

.edit-container {
  flex-direction: column;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.input-boxes {
  flex-wrap: wrap;
}

.input-boxes input, .input-boxes textarea {
  width: 535px;
}

.logout {
  float: right;
}

.thumbnail {
  height: 100px;
  width: 100px;
  overflow: hidden;
}