<h2>Gallery Edits</h2>
<div class="flex edit-container">
<!-- Start Add -->
  <form class="flex flex-between" ng-submit="addGallery(item)">
    <div class="flex flex-column input-boxes">
      <input ng-model="item.url" placeholder="Photo URL"/>
      <input ng-model="item.year" placeholder="Year: yyyy"/>
      <div class="thumbnail"><img src={{item.url}} /></div>
    </div>
    <div>
      <button class="btn-mini btn-info">Add New</button>
    </div>
  </form>
  <!-- End Add -->
  <!-- Start Repeat -->
  <div ng-repeat="item in gallery track by $index" class="flex flex-between">
    <div class="flex input-boxes gallery-inputs">
      
      <input ng-model="item.url" placeholder="Photo URL"/>
      <input ng-model="item.year" placeholder="Year: yyyy"/>
      <div class="thumbnail"><img src={{item.url}} /></div>
    </div>
    <div>
      <button class="btn-mini btn-success" ng-click="updateGallery(item)">Update</button>
      <button class="btn-mini btn-warning" ng-click="toggleGalleryHide(item)">Hide</button>
      <button class="btn-mini btn-danger" ng-click="removeGallery(item)">Delete</button>
      <h3 ng-hide="!item.hide">Hidden</h3>
      <p ng-hide="item.hide">Shown</p>
    </div>
  </div>
  <!-- End Repeat -->
</div>