<h2>Entertainer Edits</h2>
<!-- Start Add -->
<div class="flex edit-container">
  <div class="flex flex-between">
    <div class="flex flex-column input-boxes">
      <input ng-model="item.name" placeholder="Name"/>
      <input ng-model="item.photo" placeholder="Photo location"/>
      <textarea ng-model="item.description" rows="4" placeholder="Description"></textarea>
      <input ng-model="item.website" placeholder="Website"/>
    </div>
    <div>
      <button class="btn-mini btn-info" ng-click="addEntertainer(item)">Add New</button>
    </div>
  </div>
  <!-- End Add -->
  <!-- Start Repeat -->
  <div ng-repeat="item in entertainers track by item.name" class="flex flex-between">
    <div class="flex flex-column input-boxes">
      <input ng-model="item.name" placeholder="Name"/>
      <input ng-model="item.photo" placeholder="Photo location"/>
      <textarea  ng-model="item.description" rows="4" placeholder="Description"></textarea>
      <input ng-model="item.website" placeholder="Website"/>
    </div>
    <div>
      <button class="btn-mini btn-success" ng-click="updateEntertainer(item)">Update</button>
      <button class="btn-mini btn-warning" ng-click="toggleEntertainerHide(item)">Hide</button>
      <button class="btn-mini btn-danger" ng-click="removeEntertainer(item)">Delete</button>
      <h3 ng-hide="!item.hide">Hidden</h3>
      <p ng-hide="item.hide">Shown</p>
    </div>
  </div>
  <!-- End Repeat -->
</div>