<a class="btn btn-primary" ui-sref="about.admin.edits.homeEdits">Home Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.guildsEdits">Guilds Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.entertainerEdits">Entertainer Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.vendorEdits">Vendor Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.galleryEdits">Gallery Edits</a>
<button class="btn btn-inverse logout" ng-click="logout()">Logout</button>
<br />
<br />

<ui-view></ui-view>

<a class="btn btn-primary" ui-sref="about.admin.edits.homeEdits">Home Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.guildsEdits">Guilds Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.entertainerEdits">Entertainer Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.vendorEdits">Vendor Edits</a>
<a class="btn btn-primary" ui-sref="about.admin.edits.galleryEdits">Gallery Edits</a>
<button class="btn btn-inverse logout" ng-click="logout()">Logout</button>