<section id="tickets" class="container">
	<h2 class="goudym center-align">Ticket Info</h2>
	<div class="row goudyl">
		<div class="col m10 offset-m1">
			<h3>All standard tickets get you into the gates of the faire anytime from 10am to 8pm, on both days! You get access to all the entertainment, fun, education, and vendors that we bring each year.</h3>
			<h4 class="center-align">This includes:</h4>
			<ul class="center-align">
				<li>Daily jousting competitions</li>
				<li>Armored Combat League fights</li>
				<li>Magic shows</li>
				<li>The Masters of Dueling</li>
				<li>Birds of prey</li>
				<li>Horse breed presentation</li>
				<li>Live renaissance and medieval music performances all over the park from Stary Olsa, The Harp Twins, and many others</li>
				<li>The artisan village full of historical education</li>
				<li>The Society for Creative Anachronism demonstration area</li>
				<li>The House of Tudor camp</li>
				<li>Queen Elizabeth's music tent</li>
				<li>The Vikings of Utah camp</li>
				<li>Renaissance themed vendors of all types</li>
				<li>Food vendors</li>
				<li>...AND SO MUCH MORE!</li>
			</ul>
			<div class="divider"></div>
			<h3><b><i>Queen Elizabeth's Joust and Feast</i></b> tickets are for an enhanced experience that is above and beyond the standard ticket. Scroll down to see information and get more details.</h3>
		</div>
	</div>
<section>
	