<h1>Event Photos</h1>
<!-- <span ng-show="!item.hide" ng-repeat="item in gallery">
  <div class="gallery-thumbs">
	  <img class="pics" ng-src={{item.url}} data-glisse-big={{item.url}} rel={{item.year}} title="The Utah Renaissance Faire"/>
  </div>
</span> -->
<div class="flex edit-container">
  <div ng-repeat="item in gallery track by $index" class="flex flex-between">
    <div class="flex input-boxes gallery-inputs">
      <div class="thumbnail"><img src={{item.url}} /></div>
    </div>
  </div>
</div>
<script>
$(function () {
    $('.pics').glisse({
        changeSpeed: 550, 
        speed: 500,
        effect:'fade',
        fullscreen: true
    }); 
});
</script>