<div id="slider" data-section="home">
  <div id="owl-example" class="owl-carousel owl-carousel-fullwidth">
    <!-- public repat -->
    <div ng-if="!userIsAdmin" ng-show="!item.hide" ng-repeat="item in carousel" class="item" ng-style="{'background-image':'url(' + item.photo + ')', 'background-position': 'center'}">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="-owl-text-wrap">
              <div class="-owl-text">
                <h1 class="-lead to-animate">{{item.lead}}</h1>
                <h2 class="-sub-lead to-animate">{{mainInfo.eventPlace}}<br>
                {{mainInfo.eventDays}}<br>
                {{mainInfo.eventHours}}<br>
                {{mainInfo.eventDate}}</h2>
                <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /public repeat -->
  </div>
</div>

<div ng-if="userIsAdmin" id="slider">
  <div id="owl-example" class="owl-carousel owl-carousel-fullwidth">
    <div class="item" style="background-image:url(images/spencer.jpg); background-position: center;">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="-owl-text-wrap">
              <div class="-owl-text">
                <h1 class="-lead to-animate">Logged in as Admin</h1>
                <h2 class="-sub-lead to-animate">{{mainInfo.eventPlace}}<br>
                {{mainInfo.eventDays}}<br>
                {{mainInfo.eventHours}}<br>
                {{mainInfo.eventDate}}</h2>
                <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="row">
  <!-- admin add new -->
  <div class="text-center" ng-if="userIsAdmin">
    <div class="feature">
      <form id="adminAdd" class="form-group" name="adminAdd">
        <button class="btn-mini btn-success" ng-click="addCarousel(item)">Add New Slide</button>
        <div class="input-group">
          <span class="input-group-addon" id="rank">Rank</span>
          <input class="form-control" type="number" ng-model="item.rank" placeholder="Rank">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="lead">Lead</span>
          <input type="text" class="form-control" ng-model="item.lead" placeholder="Lead">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="photo">Image Link</span>
          <input type="text" class="form-control" ng-model="item.photo" placeholder="Image link">
        </div>
        <img src="{{item.photo}}" class="img-responsive" alt="Slide Photo">
      </form>
    </div>
  </div>
  <!-- /admin add new -->
  </div>
</div>
<!-- admin repeat -->
<div class="text-center" ng-if="userIsAdmin" ng-repeat="item in carousel">
  <div class="feature">
    <form name="adminRepeat" class="form-group">
      <ul class="social">
        <li>
          <button class="btn-mini btn-success" ng-click="updateCarousel(item)">Update</button>
        </li>
        <li>
          <button ng-hide="item.hide" class="btn-mini btn-warning" ng-click="toggleCarouselHide(item)">Shown</button>
          <button ng-hide="!item.hide" class="btn-mini btn-warning" ng-click="toggleCarouselHide(item)">Hidden</button>
        </li>
        <li>
          <button class="btn-mini btn-danger" ng-click="removeCarousel(item)">Delete</button>
        </li>
      </ul>
      <div class="input-group">
        <span class="input-group-addon" id="rank">Rank</span>
        <input class="form-control" type="number" ng-model="item.rank2" placeholder="{{item.rank}}">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="lead">Lead</span>
        <input type="text" class="form-control" ng-model="item.lead" placeholder="Lead">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="photo">Image Link</span>
        <input type="text" class="form-control" ng-model="item.photo" placeholder="Image link">
      </div>
      <img src="{{item.photo}}" class="img-responsive" alt="Slide Photo">
      <!-- <div id="slider">
        <div id="owl-example" class="owl-carousel owl-carousel-fullwidth">
          <div class="item" ng-style="{'background-image':'url(' + item.photo + ')', 'background-position': 'center'}">
            <div class="overlay"></div>
          </div>
        </div>
      </div> -->
    </form>
  </div>
</div>
<!-- /admin repeat -->
<h1>↓↓↓OLD↓↓↓</h1>
<div id="slider">
  <div id="owl-example" class="owl-carousel owl-carousel-fullwidth">
    <!-- item -->
    <div class="item" style="background-image:url(images/robbie.jpg); background-position: center;">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="-owl-text-wrap">
              <div class="-owl-text">
                <h1 class="-lead to-animate">Join Us</h1>
                <h2 class="-sub-lead to-animate">{{mainInfo.eventPlace}}<br>
                {{mainInfo.eventDays}}<br>
                {{mainInfo.eventHours}}<br>
                {{mainInfo.eventDate}}</h2>
                <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /item -->
    <!-- item -->
    <div class="item" style="background-image:url(images/bw-joust.jpg); background-position: center;">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="-owl-text-wrap">
              <div class="-owl-text">
                <h1 class="-lead to-animate">Jousting</h1>
                  <h2 class="-sub-lead to-animate">
                  Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /item -->
    <!-- item -->
      <div class="item" style="background-image:url(images/stary-olsa.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
            <div class="-owl-text-wrap">
              <div class="-owl-text">
                <h1 class="-lead to-animate">Stary Olsa</h1>
                  <h2 class="-sub-lead to-animate">
                  Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- /item -->
    <!-- item -->
      <div class="item" style="background-image:url(images/viking-boats.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Educational</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/bird2.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Birds of Prey</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/moki1.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Magic</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/music.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Music</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/fairy2015.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Fairies</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/bottles.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Vendors</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/wastelands3.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Wastelands LARP</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/armor2.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Armored Combat</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/teasdale-feast.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="-owl-text-wrap">
                <div class="-owl-text">
                  <h1 class="-lead to-animate">Feast</h1>
                  <h2 class="-sub-lead to-animate">Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /item -->
      <!-- item -->
      <div class="item" style="background-image:url(images/family.jpg); background-position: center;">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
            <div class="-owl-text-wrap">
              <div class="-owl-text">
                <h1 class="-lead to-animate">Family Friendly</h1>
                  <h2 class="-sub-lead to-animate">
                  Thanksgiving Point<br>
                  Friday and Saturday, rain or shine<br>
                  10:00 am - 8:00 pm<br>
                  August 26 and 27, 2016</h2>
                  <p class="to-animate-2"><a data-nav-section="pricing" class="btn btn-primary btn-lg">Get Tickets</a></p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- /item -->
  </div>
</div>