<!-- faire info -->
<div id="-about-us" data-section="faire-info" data-nav-section="faire-info">
  <div class="container">
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center">
        <h2><a data-nav-section="faire-info">Faire Features</a></h2>
        <h3>{{userIsAdmin}}</h3>
      </div>
      <div class="col-md-12">
        <div class="row">
          <!-- item -->
          <div class="text-center" ng-show="!item.hide" ng-repeat="item in entertainers track by item.name">
            <div class="feature">
              <img src="{{item.photo}}" class="img-responsive" alt="Feature Photo">
              <h3 ng-if="!userIsAdmin" class="name">{{item.name}}</h3>
              <div ng-if="!userIsAdmin" ng-show="{{item.subName}}" class="position">{{item.subName}}</div>
              <p ng-if="!userIsAdmin" ng-show="{{item.description}}" class="text-center">{{item.description}}</p>
              <div ng-if="userIsAdmin" class="form-group">
                <input class="form-control" ng-model="item.name" placeholder="Name"></input>
                <input class="form-control" id="sub-name" ng-model="item.subName" placeholder="Sub Name"></input>
                <textarea class="form-control" rows="5" id="description" ng-model="item.description" placeholder="Description">{{item.description}}</textarea>
              </div>

              <ul class="social social-circle">
                <li ng-show="{{item.website}}"><a ng-href="{{item.website}}" target="_blank"><i class="icon-globe2"></i></a></li>
                <li ng-show="{{item.facebook}}"><a ng-href="{{item.facebookPage}}" target="_blank"><i class="icon-facebook-official"></i></a></li>
                <li ng-show="{{item.youtube}}"><a ng-href="{{item.youtube}}" target="_blank"><i class="icon-youtube"></i></a></li>
                <li ng-show="{{item.twitter}}"><a ng-href="{{item.twitter}}" target="_blank"><i class="icon-twitter"></i></a></li>
                <li ng-show="{{item.instagram}}"><a ng-href="{{item.instagram}}" ttarget="_blank"><i class="icon-instagram"></i></a></li>
                <li ng-show="{{item.phone}}"><a href="tel:{{item.phone}}"><i class="icon-phone" target="_blank"></i></a></li>
                <li ng-show="{{item.email}}"><a href="mailto:{{item.email}}" target="_blank"><i class="icon-envelope"></i></a></li>
              </ul>

              <ul ng-if="userIsAdmin" class="social">
                <li><button class="btn-mini btn-success" ng-click="updateEntertainer(item)">Update</button></li>
                <li>
                  <button ng-hide="item.hide" class="btn-mini btn-warning" ng-click="toggleEntertainerHide(item)">Shown</button>
                  <button ng-hide="!item.hide" class="btn-mini btn-warning" ng-click="toggleEntertainerHide(item)">Hidden</button>
                </li>
                <li><button class="btn-mini btn-danger" ng-click="removeEntertainer(item)">Delete</button></li>
              </ul>

            </div>
          </div>
          <!-- /item -->          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /faire info