<div class="row">
  <div class="span12">
    <div class="image-wrapper">
      <div class="announcement">
        <h2>Join Us</h2>
        <span class="event-place">{{mainInfo.eventPlace}}</span>
        <br>
        <span>{{mainInfo.eventDays}}</span>
        <br>
        <span>{{mainInfo.eventDate}}</span>
        <br>
        <br>
          <div class="buy-button-wrapper">
            <a ui-sref="about.tickets">
              <img src="img/button.png">
            </a>
          </div>
      </div>
      <div class="image-shadow">
      </div>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="active item">
            <img src="img/slideshow/mayhem.jpg" alt="Renaissance Faire - Knights of Mayhem">
          </div>
          <div class="item">
            <img src="img/slideshow/feast.jpg" alt="Renaissance Faire - Feast">
          </div>
          <div class="item">
            <img src="img/slideshow/eagle.jpg" alt="Renaissance Faire - Eagle">
          </div>
          <div class="item">
            <img src="img/slideshow/joust.jpg" alt="Renaissance Faire - Jousting">
          </div>
          <div class="item">
            <img src="img/slideshow/royals.jpg" alt="Renaissance Faire - Royalty">
          </div>
          <div class="item">
            <img src="img/slideshow/fairy2014.jpg" alt="Renaissance Faire - Royalty">
          </div>
          <div class="item">
            <img src="img/slideshow/sword.jpg" alt="Renaissance Faire - Royalty">
          </div>
          <div class="item">
            <img src="img/slideshow/apollo.jpg" alt="Renaissance Faire - Royalty">
          </div>
        </div>
      </div>
      <div class="image-container"></div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="span12">
      <div class="wood-wrapper">
        <div class="wood">
          Want to participate as a Vendor or Entertainer?
          <a ui-sref="about.registration">Click Here to Join Us</a>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="banner-wrapper">
            <div class="span4">
              <div class="food banner">
              <a ui-sref="about.feast">
                <h2>Feast</h2>
                <p>{{mainInfo.feastBanner}}</p>
              </a>
              </div>
            </div>
            <div class="span4">
              <div class="entertainment banner">
              <a href="#top" ng-click="go('/entertainers')">
                <h2>Entertainment</h2>
                <p>{{mainInfo.entertainmentBanner}}</p>
              </div>
            </div>
            <div class="span4">
              <div class="vendors banner">
              <a href="#top" ng-click="go('/vendors')">
                <h2>Vendors</h2>
                <p>{{mainInfo.vendorsBanner}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#myCarousel").carousel({
    interval: 8000
  });
</script> 