<h2>Home Edits</h2>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventPlace" />
  <button class="btn-mini">Update</button>
  <span>Event Place</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventDays" />
  <button class="btn-mini">Update</button>
  <span>Event Days</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventHours" />
  <button class="btn-mini">Update</button>
  <span>Event Hours</span>
</form>
<form ng-submit="updateMainInfo()">
  <input ng-model="mainInfo.eventDate" />
  <button class="btn-mini">Update</button>
  <span>Event Dates</span>
</form>